<div class="page-header">
  <h1>Informe seus dados</h1>
</div>

<p>Enviaremos por email as próximas instruções.</p>
<p>Preencha os detalhes abaixo e prossiga para o pagamento para continuarmos o processo.</p>

<br>

<%= render 'form' %>
